# Firebase
android/app/google-services.json
lib/firebase_options.dart

# Env
*.env

build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
ios/Pods/
ios/.symlinks/
android/.gradle/
android/app/build/
*.iml
.idea/